:root {
    --background-light-grey: #F5F5F5;
    --background-light-blue: #EAF2FD;
    --background-white: #FFFFFF;

    --border-color-grey: #C8C8C8;

    --color-blue-alura: #2A7AE4;
    
    --font-raleway: 'Raleway', sans-serif;
    
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
    
    --font-grey: #464646;
    --font-light-grey: #A2A2A2;
}

body {
    font-family: var(--font-raleway);
    background-color: var(--background-light-grey);
    font-weight: var(--font-weight-normal);
}

.container {
    margin: 0 10.5%;
    height: inherit;
    position: relative;
}

.button {
    display: block;
    padding: 16px;
    width: -moz-fit-content; /*fits content for Mozzilla.*/
    width: fit-content;

    background: var(--color-blue-alura);
    
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

.border--style {
    border-radius: 4px;
    border-bottom: 1px solid var(--border-color-grey);
}

/* * * PRODUCT BOX * * */

.box {
    margin-top: 8px;
}

.product__name {
    font-weight: var(--font-weight-semibold);
}

.product__price {
    font-weight: var(--font-weight-bold);
}

.product__link {
    display: block;
    
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--color-blue-alura);
}

/* * * RESPONSIVE * * */

@media screen and (max-width: 900px) {
    
    .container {
        margin: 0 4%;
    }
    
    .button {
        padding: 12px;
        font-size: 14px;
    }

    .product img{
        width: 164px;
        height: 174px;
        object-fit: cover;
    }
}

@media screen and (max-width: 660px) {

    .product {
        font-size: 14px;
    }

    .product img{
        width: 140px;
        height: 174px;
        object-fit: cover;
    }

}
