/* Header content aligned using FLEX */

.header {
    height: 115px;
    background-color: var(--background-white);
}

.nav {
    height: inherit;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logoSearch {
    display: flex;
    align-items: center;
}

.nav__logoSearch__search {
    padding-right: 20px; /*equals to border-radius*/
    height: 40px;
    margin-left: 32px;
    background: var(--background-light-grey);
    border-radius: 20px;
}

.nav__logoSearch__search input {
    width: 329px;
    height: inherit;
    border: none;
    background-color: transparent;
    margin-left: 16px;
    
    font-size: 14px;
}

.search__button {
    vertical-align: middle;
    border: none;
    background-color: inherit;
}

.nav__button {
    padding-right: 70px;
    padding-left: 70px;

    background: var(--background-white);
    border: 1px solid var(--color-blue-alura);
    
    color: var(--color-blue-alura);
}

.admin-button {
    padding-right: 16px;
    padding-left: 16px;
}

.search__button--side {
    display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--font-light-grey);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--font-light-grey);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--font-light-grey);
}

/* * * RESPONSIVE * * */

@media screen and (max-width: 900px) {

    .header {
        height: 72px;
    }

    .nav__logoSearch__logo {
        width: 100px;
    }

    .nav__logoSearch__search input {
        width: 208px;
    }

    .nav__button {
        padding-right: 64px;
        padding-left: 64px;
    }

    .admin-button {
        padding-right: 5px;
        padding-left: 5px;
    }
    
}

@media screen and (max-width: 660px) {
    
    .nav__logoSearch__search {
        display: none;
    }

    .nav__button {
        padding-right: 47px;
        padding-left: 47px;
    }

    .admin-button {
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .search__button--side {
        display: inline;
        padding: 0 11px;
        height: 40px;
        border-radius: 20px;

        background: var(--background-light-grey);
    }

    .search__button--side img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

}