.login__form {
    width: 423px;
    margin: 92px auto 91px auto;
    box-sizing: border-box;
}

.login__form legend {
    text-align: center;
    margin-bottom: 28px;

    font-size: 18px;
    font-weight: var(--font-weight-bold);
}

.login__form input {
    display: block;
    box-sizing: border-box;
    height: 4em;
    width: inherit;
    margin-bottom: 25px;
    padding-left: 12px;
}

.login__button {
    width: inherit;

    border: none;

    font: inherit;
    font-weight: 600;
    font-size: 18px;
}



