.newProduct__form {
    width: 423px;
    margin: 64px auto;
    box-sizing: border-box;
}

.newProduct__form legend {
    margin-bottom: 28px;

    font-size: 32px;
    font-weight: var(--font-weight-bold);
}

.form__field {
    padding: 8px 12px;
    margin-top: 8px;
    margin-bottom: 25px;

    background-color: var(--background-white);
}

.form__field label {
    font-size: 12px;
    color: var(--font-light-grey);
}

.form__field input {
    display: block;
    margin-top: 4px;
    width: -webkit-fill-available;

    line-height: 20px;
}

.newProduct__form .form__text {
    margin-top: 0;
    margin-bottom: 25px;
    width: -webkit-fill-available;
}

.newProduct__form__button {
    width: inherit;

    border: none;

    font: inherit;
}

/* * * RESPONSIVE * * */

@media screen and (max-width: 900px) {

    .newProduct__form {
        margin: 32px auto;
    }

    .newProduct__form legend {
        font-size: 22px;
    }

}

@media screen and (max-width: 660px) {

    .newProduct__form {
        width: calc(100% - 80px);
        margin: 16px auto;
    }

    .newProduct__form__button {
        width: 100%;
    }

}

