.products {
    margin-bottom: 64px;
}

.products__list {
    margin-top: 64px;

    color: var(--font-grey);
}

.list {
    margin-top: 64px;
}

.list__header {
    display: flex;
    justify-content: space-between;

    font-weight: var(--font-weight-bold);
}

.list__name {
    font-size: 32px;
}

.list__button {
    font-weight: var(--font-weight-normal);
}

.list__link {
    display: flex;
    align-items: center;

    font-size: 16px;
    text-decoration: none;
    color: var(--color-blue-alura);
}

.list__products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
}

/* .list__products::after {
    content: "";
    flex: auto;
} */

.product {
    /* margin-left: 16px; */
    margin-bottom: 64px;
}

.box {
    margin-top: 8px;
}

.product__name {
    font-weight: var(--font-weight-semibold);
}

.product__price {
    font-weight: var(--font-weight-bold);
}

.product__link {
    display: block;
    
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--color-blue-alura);
}