.productDetails {
    margin-top: 64px;
    display: flex;
    align-items: center;
}

.productDetails__info {
    margin-left: 16px;
}

.productDetails__title {
    margin-bottom: 8px;

    font-size: 52px;
    line-height: 62px;
    font-weight: var(--font-weight-semibold);
}

.productDetails__description {
    margin-top: 8px;

    line-height: 1.2em;
}

.similarProducts {
    margin: 64px 0;
}

.similarProducts__header {
    display: flex;
    justify-content: space-between;

    font-weight: var(--font-weight-bold);
}

.similarProducts__title {
    font-size: 32px;
}

.similarProducts__products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
}

/* * * RESPONSIVE * * */

@media screen and (max-width: 900px) {

    .productDetails__img {
        width: 254px;
    }

    .productDetails__title {
        font-size: 22px;
    }

    .productDetails__description {
        font-size: 14px;
    }

    .product:nth-child(5),
    .product:nth-child(6) {
        display: none;
    }

    .similarProducts__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 600px) {

    .productDetails {
        display: inherit;
        margin-top: 0;
    }

    .productDetails__img {
        width: 100vw;
        max-height: 192px;
        position: relative;
        left: -15px;

        object-fit: cover;
    }

}